## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
#Import dependencies
import requests
weather_api_key = "ae77f417083173c4076216fc9ae2009b"
g_key = "AIzaSyA4reOCfGzMmww2FzIsiCrGWlnL-Onvhbg"

url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
# Configure gmaps API key
gmaps.configure(api_key="AIzaSyA4reOCfGzMmww2FzIsiCrGWlnL-Onvhbg")

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Databse_Folder/WeatherPy_Database.csv")
city_data_df.head(671)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Thompson,CA,55.7435,-97.8558,60.96,77,75,4.61,broken clouds
1,1,Huilong,CN,31.8111,121.6550,70.93,68,3,14.58,clear sky
2,2,Ushuaia,AR,-54.8000,-68.3000,53.26,35,0,1.14,clear sky
3,3,Pacific Grove,US,36.6177,-121.9166,71.82,86,0,11.50,clear sky
4,4,Elko,US,41.0002,-115.5012,78.64,12,0,15.01,clear sky
...,...,...,...,...,...,...,...,...,...,...
665,665,Port Hueneme,US,34.1478,-119.1951,85.46,64,20,11.50,few clouds
666,666,Mafinga,TZ,-7.2500,35.0667,71.02,55,9,7.54,clear sky
667,667,Pincher Creek,CA,49.4833,-113.9520,51.91,87,100,18.41,overcast clouds
668,668,Leavenworth,US,39.2333,-95.0336,99.27,35,65,5.99,broken clouds
669,669,Martinopolis,BR,-22.1458,-51.1708,69.12,51,80,0.51,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & 
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Huilong,CN,31.8111,121.6550,70.93,68,3,14.58,clear sky
3,3,Pacific Grove,US,36.6177,-121.9166,71.82,86,0,11.50,clear sky
4,4,Elko,US,41.0002,-115.5012,78.64,12,0,15.01,clear sky
5,5,Owando,CG,-0.4819,15.8999,71.69,96,90,3.09,overcast clouds
6,6,Jadu,LY,31.9530,12.0261,82.15,25,0,3.65,clear sky
...,...,...,...,...,...,...,...,...,...,...
659,659,Berekum,GH,7.4534,-2.5840,70.59,97,100,2.62,light rain
660,660,Show Low,US,34.2542,-110.0298,83.08,30,75,11.50,broken clouds
662,662,San Jose,US,37.3394,-121.8950,79.16,56,75,12.66,broken clouds
665,665,Port Hueneme,US,34.1478,-119.1951,85.46,64,20,11.50,few clouds
666,666,Mafinga,TZ,-7.2500,35.0667,71.02,55,9,7.54,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Huilong,CN,31.8111,121.6550,70.93,68,3,14.58,clear sky
3,3,Pacific Grove,US,36.6177,-121.9166,71.82,86,0,11.50,clear sky
4,4,Elko,US,41.0002,-115.5012,78.64,12,0,15.01,clear sky
5,5,Owando,CG,-0.4819,15.8999,71.69,96,90,3.09,overcast clouds
6,6,Jadu,LY,31.9530,12.0261,82.15,25,0,3.65,clear sky
...,...,...,...,...,...,...,...,...,...,...
659,659,Berekum,GH,7.4534,-2.5840,70.59,97,100,2.62,light rain
660,660,Show Low,US,34.2542,-110.0298,83.08,30,75,11.50,broken clouds
662,662,San Jose,US,37.3394,-121.8950,79.16,56,75,12.66,broken clouds
665,665,Port Hueneme,US,34.1478,-119.1951,85.46,64,20,11.50,few clouds
666,666,Mafinga,TZ,-7.2500,35.0667,71.02,55,9,7.54,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Huilong,CN,70.93,clear sky,31.8111,121.6550,
3,Pacific Grove,US,71.82,clear sky,36.6177,-121.9166,
4,Elko,US,78.64,clear sky,41.0002,-115.5012,
5,Owando,CG,71.69,overcast clouds,-0.4819,15.8999,
6,Jadu,LY,82.15,clear sky,31.9530,12.0261,
8,Ponta Do Sol,PT,74.03,broken clouds,32.6667,-17.1000,
9,Rikitea,PF,72.52,light rain,-23.1203,-134.9692,
11,Hilo,US,82.27,moderate rain,19.7297,-155.0900,
19,Trincomalee,LK,80.37,overcast clouds,8.5711,81.2335,
20,Tadine,NC,74.03,overcast clouds,-21.5500,167.8833,

In [10]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

NameError: name 'np' is not defined

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Huilong,CN,70.93,clear sky,31.8111,121.6550,
3,Pacific Grove,US,71.82,clear sky,36.6177,-121.9166,
4,Elko,US,78.64,clear sky,41.0002,-115.5012,
5,Owando,CG,71.69,overcast clouds,-0.4819,15.8999,
6,Jadu,LY,82.15,clear sky,31.9530,12.0261,
...,...,...,...,...,...,...,...
659,Berekum,GH,70.59,light rain,7.4534,-2.5840,
660,Show Low,US,83.08,broken clouds,34.2542,-110.0298,
662,San Jose,US,79.16,broken clouds,37.3394,-121.8950,
665,Port Hueneme,US,85.46,few clouds,34.1478,-119.1951,
666,Mafinga,TZ,71.02,clear sky,-7.2500,35.0667,

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

NameError: name 'clean_hotel_df' is not defined

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

NameError: name 'clean_hotel_df' is not defined

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

NameError: name 'locations' is not defined